apiVersion: apps/v1
kind: Deployment 
metadata:
  name: drawzy-ws
  namespace: drawzy-staging
spec:
  replicas: 2
  selector:
    matchLabels:
      app: drawzy-ws
  template:
    metadata:
      labels:
        app: drawzy-ws
    spec:
      tolerations:
        - key: "env"
          value: "stage"
          operator: "Equal"
          effect: "NoSchedule"
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: env
                    operator: In
                    values:
                      - stage
      restartPolicy: Always
      containers:
        - name: drawzy-ws
          image: ajayt8374/ws@sha256:02f607fa4f7275221866a69f7da7674a844f74be76f2d8fe8357ffbce17a9728
          imagePullPolicy: IfNotPresent
          env:
            - name: JWT_SECRET
              value: "sdugfsdfbdsfudsiu98g"
          ports:
            - containerPort: 8080
          resources:
            requests:
              cpu: "500m"
              memory: "500Mi"
            limits:
              cpu: "1"
              memory: "1Gi" 
          livenessProbe:
            tcpSocket:
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
          readinessProbe:
            tcpSocket:
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10


