name: PR CI

on:
  pull_request:
    branches:
      - main
    paths:
      - apps/**
      - .github/workflows/**
jobs:
  code-quality-checks:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Install Dependencies
        run: npm install
      - name: Run ESLint
        run: npm run lint || true

  secret-scan:
    runs-on: ubuntu-24.04
    needs: code-quality-checks
    steps:
      - uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493
        with:
          fetch-depth: 0  
      - name: Run Gitleaks
        uses: gitleaks/gitleaks-action@v2

  codeql:
    runs-on: ubuntu-24.04
    needs: secret-scan
    permissions:
      actions: read
      contents: read
      security-events: write
    strategy:
      fail-fast: false
      matrix:
        language: ['javascript']
    steps:
      - uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493
        with:
          fetch-depth: 0
          fetch-tags: true  
      - uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: ${{ matrix.language }}
      - name: Autobuild
        uses: github/codeql-action/autobuild@v3
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v3